@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    max-width: 994px;
    margin: 0 auto;

}

h4 {
    font-family: "Comfortaa", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    text-transform: lowercase;
}

.header-main {
    background-image: url('images/bgimage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-main .header-content {
    text-align: center;
}

.header-main .header-content .logo img {
    max-width: 244px;
    object-fit: cover;
    padding-top: 52px;
    padding-bottom: 100px;
}

.header-main .header-content .white {
    color: #FFFFFF;
    margin-bottom: 20px;
}

.header-main .header-content .header-text h3 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 150%;
    text-transform: uppercase;
    color: #2B426B;
    max-width: 994px;
    margin-bottom: 20px;
}

.header-main .header-content p {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 51px;
}

/* popup video start  */
.header-main .header-content .video-content {
    background-image: url('images/videoBg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 264px 0;
    border-radius: 30px;
    border: 3px solid black;
    max-width: 994px;
    margin-bottom: 50px;
}

.header-main .header-content #video-popup {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 30px auto;
}

#video-frame {
    width: 100%;
    max-width: 853px;
    height: 480px;
}

.header-main .header-content #video-popup .close-play-btn {
    position: absolute;
    right: 200px;
    top: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.header-main .header-content #video-popup .close-play-btn:hover {
    color: black;
}


.header-main .header-content .video-content .play-btn {
    cursor: pointer;
}

/* popup video end */

.header-main .header-content .btn {
    padding-bottom: 100px;
}

.header-main .header-content .btn .training-btn {

    background-color: #29ABE2;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    padding: 23px 55px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    cursor: pointer;
}

/* training button popup form */
/* Modal hidden by default */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content */
.modal-content {
    background-image: url('images/formBg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 15% auto;
    padding: 100px 100px;
    border-radius: 30px;
    max-width: 60%;
}

.form-title {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 56px;
    text-align: center;
    text-transform: lowercase;
    color: #29ABE2;
    padding-bottom: 50px;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    margin-right: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* form style */
input[type=text],
input[type=email],
input[type=number],
input[type=submit]  {
    width: 100%;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 31px;
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 100px;
    resize: vertical;
}

input[type=submit] {
    background: #29ABE2;
    border-radius: 100px;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    padding-left: 0px;
}

.input-field {
    width: 75%;
    margin: 0 auto;
}

/* header section end */

.banner-main {
    background-image: url('images/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-main .banner-contant {
    display: flex;
    justify-content: space-between;
    padding-top: 103px;
    column-gap: 100px;
}

.banner-main .banner-contant .man-img {
    display: flex;
    align-items: flex-end;
    object-fit: cover;
    width: 100%;
}

.banner-main .banner-contant .banner-header .blue {
    text-align: center;
    margin: 0 auto;
    color: #29ABE2;
    margin-bottom: 30px;
}

.banner-main .banner-contant .banner-text {
    display: flex;
    margin-bottom: 50px;
    column-gap: 50px;
}

.banner-main .banner-contant .banner-text img {
    max-width: 61px;
    max-height: 61px;
}

.banner-main .banner-contant .banner-text p {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    text-align: justify;
    color: #2B426B;
    padding: 5px;
}

.banner-main .banner-contant .banner-header .access-btn {
    background: #29ABE2;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding: 23px 63px;
    margin-bottom: 100px;
    cursor: pointer;
}

@media only screen and (max-width:800px) {
    .container {
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }

    .banner-main .banner-contant {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    #video-frame {
        width: 100%;
        max-width: 500px;
        height: 300px;
    }

    .header-main .header-content #video-popup .close-play-btn {
        right: 15px;
    }
    .input-field,
    input[type=submit] {
        width: 100%;
    }

    .modal-content {
        padding: 50px 5px;
    }

    .form-title {
        font-size: 20px;
        line-height: 22px;
    }
}

@media only screen and (max-width:500px) {
    .container {
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }

    .banner-main .banner-contant {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .header-main .header-content .header-text h3 {
        font-size: 20px;
    }

    .banner-main .banner-contant .man-img img {
        max-width: 270px;

    }

    .banner-main .banner-contant .banner-text p {
        font-size: 12px;
    }

    h4 {
        font-size: 15px;
    }

    .banner-main .banner-contant .banner-text img {
        max-width: 30px;
        max-height: 30px;
    }

    .banner-main .banner-contant .banner-header .blue {
        text-align: center;
    }

    .header-main .header-content .video-content {
        padding: 101px 0;
    }

    .header-main .header-content .video-content .play-btn {
        width: 38px;
    }

    .header-main .header-content p {
        font-size: 10px;
    }

    #video-frame {
        width: 100%;
        max-width: 300px;
        height: 200px;
    }

    .header-main .header-content #video-popup .close-play-btn {
        right: 15px;
    }
    .input-field,
    input[type=submit] {
        width: 100%;
    }

    .modal-content {
        padding: 50px 5px;
    }

    .form-title {
        font-size: 20px;
        line-height: 22px;
    }
  
}

@media screen and (max-width:300px) {
    .header-main .header-content .logo img {
        max-width: 150px;
    }

    #video-frame {
        width: 100%;
        max-width: 200px;
        height: 200px;
    }

    .header-main .header-content #video-popup .close-play-btn {
        right: 15px;
    }

    .input-field,
    input[type=submit] {
        width: 100%;
    }

    .modal-content {
        padding: 50px 5px;
    }

    .form-title {
        font-size: 20px;
        line-height: 22px;
    }
}